
  <h1 class='text-center alert alert-success alert-sm'>Edit Product</h1>


  <form class='col-md-5' #frm="ngForm" (ngSubmit)="UpdateProduct()">
    <div class="form-group">
      <input [(ngModel)]="selectedPrd._id" type="number" class="form-control" name="_id"
        placeholder="Enter Product ID" required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.Name" type="text" class="form-control" name="Name"
        placeholder="Enter Product Name" required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.Price" type="number" class="form-control" name="Price"
        placeholder="Enter Product Price" required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.brand" type="text" class="form-control" name="brand"
        placeholder="Enter Product Brand" required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.Quantity" type="number" class="form-control" name="Quantity"
        placeholder="Enter Product Quantity" min="1"  required>
    </div>


    <div class="form-group">
      <input [(ngModel)]="selectedPrd.weight" type="number" class="form-control" name="weight"
        placeholder="Enter Product Weight" min="1"  required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.model" type="number" class="form-control" name="model"
        placeholder="Enter Product Model" min="1"  required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.color" type="text" class="form-control" name="color"
        placeholder="Enter Product Color"  required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.details" type="text" class="form-control" name="details"
        placeholder="Enter Product Details"  required>
    </div>

    <div class="form-group">
      <input [(ngModel)]="selectedPrd.date" type="datetime" class="form-control" name="date"
        placeholder="Enter Product Date"  required>
    </div>

    <button [disabled]="!frm.valid" type="submit" class="btn btn-primary btn-sm btn-block">Submit</button>
    <button type="button" class="btn btn-danger btn-sm btn-block" (click)="BackBack()">Back</button>
  </form>



