<h1>{{Store}}</h1>
<img [src]="StoreLogo|defaultImgURL:'assets/17741536298106ln3juxyt2ugpivft6ddbb6gmvjyswskbanzucs2wkddippwkr9v1klfvivzmppd5gizzkvaxrxgu0cuewpntgnavc5ge2u7chbse.jpg'" alt=""/>
<h3 *ngIf="Discount!='No Discount'">We offer an explicit discount of:{{Discount}}</h3>


<app-ordermaster></app-ordermaster>
<input [(ngModel)]="ClientName" class="form-control" type="text" />
<span>{{ClientName}}</span><br>
<button  class="btn btn-primary" (click)="HideAndShowTable()">Buy</button>
<div *ngIf="!IsPurshased">Thanks for purchasing from our Store {{ClientName}}</div>

<div appChangestyle >What Cheese </div>
